.annuncio main {
    display: flex;
    flex-direction: column;
    padding: 0 1em 1em 1em;
    font-size: 26px;
}

main div {
    margin-bottom: 0.5em;
}

#preventivi {
    margin-top: 3em;
}

section.wrapper_preventivi {
    background-color: transparent;
    /* padding: 2em 0 0 0; */
    box-shadow: none;
    position: relative;
    display: flex;
    flex-direction: column;
}

.preventivo {
    background-color: var(--secondary-variant);
    padding: 1em;
    width: 100%;
}

textarea {
    font-family: inherit;
    font-weight: 500;
}

h3 {
    margin-top: 0;
}


section.preventivi {
    position: relative;
    margin-bottom: 2em;
}