.annuncio main {
    display: flex;
    flex-direction: column;
    padding: 0 1em 1em 1em;
    font-size: 26px;
}

#preventivi {
    margin-top: 3em;
}

section.wrapper_preventivi {
    background-color: transparent;
    /* padding: 2em 0 0 0; */
    box-shadow: none;
    position: relative;
    display: flex;
    flex-direction: column;
}

.preventivo {
    /* background-color: var(--info); */
    padding: 1em;
    width: 100%;
    /* color: black; */
    max-width: 500px;
}

h3 {
    margin-top: 0;
}

.preventivi {
    position: relative;
    margin-bottom: 2em;
}

.preventivo_actions {
    margin-top: 1em;
    margin-bottom: 1px;
    display: flex;
}

.preventivo_actions a {
    text-decoration: none;
    width: 100%;
    display: flex;
}

.preventivo_actions a:hover {
    color: unset;
}

.preventivo--selected {
    /* background-color: var(--correct); */
}

.preventivo:not(.preventivo--selected) {
}

.cartacredito #carta input {
    width: 65px;
    border-radius: 4px;
    padding: 0;
    border: 0;
    text-align: center;
}

.cartacredito #scadenzacarta #mesi {
    max-width: 120px;
}

.cartacredito #scadenzacarta #anni {
    max-width: 75px;
}

.cartacredito #cvv {
    max-width: 75px;
}

.cartacredito #scadenzacarta {
    width: 100%;
}

.cartacredito .campo {
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
}

.cartacredito .content {
    width: 100%;
    padding: 0;
}

.cartacredito label {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 3px;
}

img#mastercard {
    width: 75px;
    margin-left: 15px;
}

textarea {
    padding-top: 5px;
}

@media only screen and (max-width: 900px) {
    section.wrapper {
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 20px 10px;
        justify-content: start;
    }

    .annuncio, .preventivo {
        width: 100%;
        font-size: 17px;
        min-width: unset;
        max-width: 500px;
    }

    .annuncio main {
        font-size: inherit;
        padding: 0;
    }

    h2 {
        width: 100%;
        justify-content: center;
        margin: 0 !important;
    }

    section.preventivi {
        position: relative;
        margin: 0;
    }
}
