.annuncio main {
    display: flex;
    flex-direction: column;
    padding: 0 1em 1em 1em;
    font-size: 26px;
}

#preventivi {
    margin-top: 3em;
}

section.wrapper_preventivi {
    background-color: transparent;
    /* padding: 2em 0 0 0; */
    box-shadow: none;
    position: relative;
    display: flex;
    flex-direction: column;
}

.preventivo {
    /* background-color: var(--info); */
    padding: 1em;
    width: 100%;
    /* color: black; */
    max-width: 500px;
}


h3 {
    margin-top: 0;
}

.preventivi {
    position: relative;
    margin-bottom: 2em;
}

.preventivo_actions {
    margin-top: 1em;
    margin-bottom: 1px;
    display: flex;
}

.preventivo--selected {
    /* background-color: var(--correct); */
}

.preventivo:not(.preventivo--selected) {
}

.cartacredito input {
    width: 65px;
    border-radius: 4px;
    border: 0;
    text-align: center;
}

textarea {
    padding-top: 5px;
}

@media only screen and (max-width: 900px) {



    section.wrapper{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    .annuncio, .preventivo {
        width:100%;
        font-size: 17px;
        min-width: unset;
        max-width: 500px;
    }

    .annuncio main {
        font-size: inherit;
        padding: 0;
    }

    section.preventivi {
        position: relative;
        margin: 0;
    }
}
