/*https://coolors.co/03256c-2541b2-1768ac-06bee1-ffffff*/
:root {
    /* CSS HEX */
    --primary-variant: #03256cff;
    --primary: #2541b2ff;
    --secondary-variant: #1768acff;
    --secondary: #06bee1ff;
    --white: #ffffffff;
    --correct: #1B998B;
    --error:#89043D;
    --info:#ECC30B;
}

* {
    box-sizing: border-box;
    font-family: system-ui;
}


body {
    margin: 0;
    color: var(--white);
    background-color: var(--primary);
}

body > main {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    gap: 5em;
    flex-direction: row;
}

#modal_wrapper.modal-shown {
    pointer-events: auto;
    z-index: 50;
    opacity: 1;
}

#modal_wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 0;
    opacity: 0;
    transition: opacity 150ms 100ms, backdrop-filter 150ms;
    backdrop-filter: blur(3px);
    flex-direction: column;
}


#modal_wrapper form {
    width: 100%;
    max-width: 100%;
}

.modal {
    /* position: absolute; */
    min-width: 300px;
    width: 100%;
    max-width: 600px;
    z-index: 1;
}

.hide {
    visibility: hidden;
    position: absolute;
}

.annuncio {
    font-size: 18px;
}

.annuncio > header > h2 {
    display: inline-block;
    margin: 0;
}

form {
    padding: 4vw;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 0px 6px 3px var(--white);
    background-color:
    var(--primary-variant);
    margin-bottom: 0;
}

form input, form textarea, form select {
    /* display: block; */
    width: 100%;
    position: relative;
    min-height: 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    border: 0;
    padding-left: 1em;
}

textarea {
    resize: none;
}

label {
    text-transform: capitalize;
}

.modal > .closeBtn {
    position: absolute;
    top: 6vh;
    right: 6em;
    font-size: 5vh;
    cursor: pointer;
    font-family: cursive;
    color: rgb(255 37 37);
}

button {
    padding: 7px;
    font-size: 20px;
    border-radius: 5px;
    background-color: var(--secondary);
    border: 0;
    color: rgb(0 0 0);
    cursor: pointer;
    margin-right: 0.5em;
}

button:hover{
    transform: translateY(-1px);
}

button:active{
    transform: translateY(1px);
}

a {
    color: inherit;
}

a:hover{
    color:var(--secondary);
}

body > header {
    width: 100%;
    position: relative;
    height: 100px;
    display: flex;
    align-items: flex-start;
    /* text-align: center; */
    background-color: var(--primary-variant);
    box-shadow: 0px 6px 13px -6px #0000006b;
    /* padding-left: 1em; */
    padding-right: 1em;
    flex-flow: column wrap;
}

header > * {
    width: calc(100% - 45px);
}

#btn-back {
    width: 45px;
    height: 100%;
}

body nav {
    display: flex;
    /* flex-grow: 1; */
    /* justify-content: space-around; */
    height: 45px;
}

body > header h1 {
    margin: 0;
    flex-grow: 2;
    font-size: 38px;
}

.header-info {
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
}



span.closeBtn {
    position: relative;
    font-size: 33px;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-family: system-ui;
    z-index: 5;
    background-color: var(--secondary-variant);
    color: #ff0000;
    font-weight: 900;
    visibility: hidden;
    content: "\2718";
    border: 1px solid black;
}

.modal-shown .closeBtn {
    visibility: visible;
}

span.closeBtn:hover {
    transform: translateY(-1px);
    box-shadow: 0px 2px 0px 0px #00000029;
}


section.annuncio, section.preventivo-wrapper, .preventivo {
    background-color: var(--secondary-variant);
    color: var(--white);
    box-shadow: 0px 1px 10px -2px var(--primary-variant);
    padding: 1em 2em 1em 2em;
    width: 600px;
    position: relative;
    margin-bottom: 1em;
}

.annuncio > h2, .preventivi > h2 {
    position: relative;
    display: inline-block;
    margin: 0 0 0.5em;
    background-color: var(--primary-variant);
    padding: 0 10px 0 10px;
    font-size: 30px;
    height: 45px;
}


#wrapper_annunci .titles h2 {
    position: relative;
    display: inline-block;
    color: var(--primary-variant);
    cursor: pointer;
    margin: 0 2em 0 0;
}

#wrapper_annunci .titles h2:hover{
    color: var(--secondary);
}

#wrapper_annunci .titles h2.title--selected {
    color: white;
}

.annunci {
    position: relative;
    display: none;
    width: auto;
}

.annunci--selected {
    display: block;
}

section#wrapper_annunci {
    width: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titles {
    margin-bottom: 1em;
}


.campo > label {
    width: 30%;
    text-align: right;
    padding-right: 5px;
    margin-right: 1em;
    justify-content: flex-end;
}

.campo {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0 2px 0;
    /* border-bottom: 1px solid var(--primary-variant); */
}

.campo > * {
    border-bottom: 1px solid var(--primary-variant);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.campo > .content {
    width: 70%;
    padding-left: 10px;
}

.annuncio >header {
    margin-bottom: 1em;
}

input[type="number"] {
    width: 70px;
    margin-right: 0.3em;
}

.modal input[type="submit"] {
    margin-top: 2em;
    cursor: pointer;
}

.formLogin input {
    margin-bottom: 1em;
}