/*https://coolors.co/03256c-2541b2-1768ac-06bee1-ffffff*/
:root {
    /* CSS HEX */
    --primary-variant: #03256cff;
    --primary: #2541b2ff;
    --secondary-variant: #1768acff;
    --secondary: #06bee1ff;
    --white: #ffffffff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--white);
    background-color: var(--primary);
    font-family: system-ui;
}

body > main {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    padding-top: 4em;
    /* max-width: 900px; */
}

#modal_wrapper.modal-shown {
    pointer-events: auto;
    z-index: 50;
    opacity: 1;
}

#modal_wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 0;
    opacity: 0;
    transition: opacity 150ms 100ms, backdrop-filter 150ms;
    backdrop-filter: blur(3px);
    flex-direction: column;
}


#modal_wrapper form {
    width: 100%;
    max-width: 100%;
}

.modal {
    /* position: absolute; */
    max-height: 750px;
    min-width: 660px;
    z-index: 1;
}

.hide {
    visibility: hidden;
    position: absolute;
}

.annuncio {
    border: 1px solid white;
    margin-bottom: 1em;
    padding: 1em;
    background-color: var(--secondary-variant);
    color: var(--white);
    width: 500px;
    font-size: 18px;
}

.annuncio > header > h2 {
    display: inline-block;
}

form {
    padding: 4vw;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 0px 6px 3px var(--white);
    background-color:
    var(--primary-variant);
    margin-bottom: 0;
}

form input, form textarea, form select {
    /* display: block; */
    margin-bottom: 1em;
    width: 94%;
    position: relative;
    height: 40px;
    font-size: 18px;
}

textarea {
    resize: none;
}

label {
    text-transform: capitalize;
    /* color: var(--secondary); */
}

.modal > .closeBtn {
    position: absolute;
    top: 6vh;
    right: 6em;
    font-size: 5vh;
    cursor: pointer;
    font-family: cursive;
    color: rgb(255 37 37);
}

button {
    height: 45px;
    font-size: 20px;
    background-color: var(--secondary-variant);
    border: 1px solid var(--white);
    color: var(--white);
    cursor: pointer;
    margin-right: 0.5em;
}

a {
    color: inherit;
}

body > header {
    width: 100%;
    position: relative;
    height: 100px;
    display: flex;
    align-items: flex-start;
    /* text-align: center; */
    background-color: var(--primary-variant);
    box-shadow: 0px 6px 13px -6px #0000006b;
    /* padding-left: 1em; */
    padding-right: 1em;
    flex-flow: column wrap;
}

header > * {
    width: calc(100% - 45px);
}

#btn-back {
    width: 45px;
    height: 100%;
}

body nav {
    display: flex;
    /* flex-grow: 1; */
    /* justify-content: space-around; */
    height: 45px;
}

body > header h1 {
    margin: 0;
    flex-grow: 2;
    font-size: 40px;
}

.header-info {
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
}



span.closeBtn {
    position: relative;
    font-size: 33px;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-family: system-ui;
    z-index: 5;
    background-color: var(--secondary-variant);
    color: #ff0000;
    font-weight: 900;
    visibility: hidden;
    content: "\2718";
}

.modal-shown .closeBtn {
    visibility: visible;
}

span.closeBtn:hover {
    transform: translateY(-1px);
    box-shadow: 0px 2px 0px 0px #00000029;
}