/*https://coolors.co/03256c-2541b2-1768ac-06bee1-ffffff*/
:root {
    /* CSS HEX */
    --primary-variant: #03256cff;
    --primary: #2541b2ff;
    --secondary-variant: #1768acff;
    --secondary: #06bee1ff;
    --white: #ffffffff;
    --bg: #ebebeb;
    --correct: #1B998B;
    --error: #89043D;
    --info: #ECC30B;
}

* {
    box-sizing: border-box;
    font-family: system-ui;
}

html {
    /* padding: 0; */
    /* margin: 0; */
}

body {
    margin: 0;
    color: var(--black);
    background-color: #ebebeb;
    /* height: auto; */
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

body > main {
    display: flex;
    height: calc(100vh - 150px);
    position: relative;
    flex-direction: column;
    overflow: auto;
}

#modal_wrapper.modal-shown {
    pointer-events: auto;
    z-index: 50;
    opacity: 1;
}

#modal_wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    opacity: 0;
    transition: opacity 150ms 100ms, backdrop-filter 150ms;
    backdrop-filter: blur(3px);
    flex-direction: column;
    top: 0;
}

#modal_wrapper form {
    width: 100%;
    max-width: 100%;
    padding-top: 4em;
    color: white;
    border: 5px solid var(--primary);
}

.modal {
    /* position: absolute; */
    min-width: 300px;
    width: 100%;
    max-width: 600px;
    z-index: 1;
    /* padding-top: 1em; */
    display: flex;
    height: fit-content;
    justify-content: center;
}

.hide {
    visibility: hidden;
    position: absolute;
}

.annuncio {
    font-size: 18px;
}

.annuncio > header > h2 {
    display: inline-block;
    margin: 0;
}

form {
    padding: 4vw;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 0px 6px 0px black;
    background-color: var(--primary-variant);
    margin-bottom: 0;
}

form input, form textarea, form select {
    /* display: block; */
    width: 100%;
    position: relative;
    min-height: 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    border: 0;
    padding-left: 10px;
}

form.formLogin {
    align-self: center;
    margin: auto;
}

textarea {
    resize: none;
}

label {
    text-transform: capitalize;
}

.modal > .closeBtn {
    position: absolute;
    top: 6vh;
    right: 6em;
    font-size: 5vh;
    cursor: pointer;
    font-family: cursive;
    color: rgb(255 37 37);
}

button {
    padding: 7px;
    height: fit-content;
    font-size: 20px;
    border-radius: 5px;
    background-color: var(--secondary);
    border: 0;
    color: rgb(0 0 0);
    cursor: pointer;
    margin-right: 0.5em;
}

button:disabled {
    background-color: grey !important;
    cursor: default !important;
}
button:hover:not(:disabled) {
    transform: translateY(-1px);
}

button:active:not(:disabled) {
    transform: translateY(1px);
}


a {
    color: inherit;
}

a:hover {
    color: var(--secondary);
}

body > header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-color: var(--primary-variant);
    box-shadow: 0px 6px 13px -6px #0000006b;
    padding: 1em;
    position: sticky;
    z-index: 15;
    flex-wrap: wrap;
    /* max-height: 150px; */
}

header > * {
    gap: 0.5em;
}

#btn-back {
    width: 45px;
    height: 100%;
}

nav {
    display: flex;
    height: fit-content;
    position: relative;
    flex-direction: row;
    /* height: 60px; */
    /* flex-shrink: 2; */
    margin-top: 1em;
    align-items: stretch;
    width: 100%;
}

nav button {
    font-size: 17px;
    width: 100%;
    /* margin-bottom: 1em; */
    max-width: 200px;
    box-shadow: 0px 1px 6px -2px var(--primary-variant);
    color: rgb(0 0 0);
    height: auto;
}

body > header h1 {
    display: inline-flex;
    margin: 0;
    flex-grow: 1;
    font-size: 3vw;
    /* justify-content: center; */
    align-items: center;
    text-transform: capitalize;
}

.header-info {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    color: white;
    flex-wrap: wrap;
    justify-content: flex-end;
}

span.closeBtn {
    position: relative;
    font-size: 33px;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-family: system-ui;
    z-index: 5;
    background-color: var(--secondary-variant);
    color: #ff0000;
    font-weight: 900;
    content: "\2718";
    border: 1px solid black;
    display: none;
}

.modal-shown .closeBtn {
    display: flex;
}

span.closeBtn:hover {
    transform: translateY(-1px);
    box-shadow: 0px 2px 0px 0px #00000029;
}

.annuncio, .preventivo-wrapper, .preventivo, .recensione {
    background-color: var(--secondary-variant);
    color: var(--white);
    box-shadow: 0px 1px 6px -2px var(--primary-variant);
    padding: 1em 2em 1em 2em;
    min-width: 500px;
    width: 60vw;
    position: relative;
    margin-bottom: 1em;
    max-width: 700px;
}

.annuncio > h2, .preventivi > h2 {
    position: relative;
    display: inline-flex;
    margin: 0 0 5px;
    background-color: var(--primary-variant);
    padding: 0 10px 0 10px;
    font-size: 30px;
    min-height: 45px;
    align-items: center;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-grow: 1;
    column-gap: 30px;
    justify-content: center;
    flex-shrink: 1;
    height: fit-content;
    /* padding-top: 2em; */
}

#wrapper_annunci .titles h2 {
    position: relative;
    display: inline-block;
    color: var(--primary-variant);
    cursor: pointer;
    margin: 0 2em 0 0;
    user-select: none;
}

#wrapper_annunci .titles h2:hover {
    color: var(--secondary);
}

#wrapper_annunci .titles h2.title--selected {
    color: var(--secondary);
}

.annunci {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.annunci--selected {
    display: flex;
    /* height: fit-content; */
    padding-top: 2em;
}

section#wrapper_annunci {
    width: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    column-gap: 10vw;
}

.titles {
    margin-bottom: 1em;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: left;
    z-index: 10;
    padding: 2em 1em 1em 1em;
    background-color: rgb(212 212 212);
    position: relative;
}

.campo > label {
    width: 25%;
    text-align: right;
    padding-right: 5px;
    margin-right: 5px;
    justify-content: flex-end;
    border: 0;
}

.campo {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0 2px 0;
    /* height: fit-content; */
    /* border-bottom: 1px solid var(--primary-variant); */
}

.campo > * {
    border-bottom: 1px solid var(--primary-variant);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.campo > .content {
    width: 75%;
    padding-left: 10px;
}

.annuncio >header {
    margin-bottom: 1em;
}

input[type="number"] {
    width: 70px;
    margin-right: 0.3em;
    text-align: right;
}

.modal input[type="submit"] {
    margin-top: 2em;
    cursor: pointer;
}

.formLogin input {
    margin-bottom: 1em;
}

.voto {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    direction: rtl;
    text-align: left;
}

.stella {
    position: relative;
    line-height: 60px;
    display: inline-block;
    transition: color 0.2s ease;
    color: #ebebeb;
}

.stella:before {
    content: '\2605';
    width: 1em;
    height: 1em;
    font-size: 35px;
}

.voto:not(.readonly) .stella {
    cursor: pointer;
}

.voto:not(.readonly) .stella:hover, .stella.selected, .voto:not(.readonly) .stella:hover~.stella, .stella.selected~.stella {
    transition: color 100ms ease;
    color: var(--secondary);
}

@media only screen and (max-width: 900px) {
    body nav {
        display: inline-flex;
        width: 100%;
        height: unset;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: var(--primary-variant);
        box-shadow: 0px 4px 4px -1px var(--primary-variant);
        padding-top: 5px;
        flex-basis: auto;
    }

    nav button {
        margin: 0 10px 10px 10px;
        width: calc(100% - 40px);
        max-width: unset;
    }
}

#notifiche {
    display: inline-flex;
    position: relative;
    /* float: right; */
    justify-content: flex-end;
}

#notifica_icon {
    width: 40px;
    height: 40px;
    background-image: url('../img/bell.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#notifica_icon::after {
    content: attr(data-counter);
    width: 23px;
    height: 23px;
    border-radius: 50%;
    color: white;
    background-color: red;
    top: 0px;
    right: -2px;
    position: absolute;
    z-index: 10;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#notifica_icon[data-counter='0']::after{
    display:none;,
}

#notifica_icon:hover {
    color: white;
}

#notifica_content {
    display: none;
    position: absolute;
    top: 55px;
    right: 0px;
    width: 720px;
    height: 500px;
    background-color: var(--primary-variant);
    border-radius: 4px;
    box-shadow: 0px 7px 23px -3px #000000;
    overflow-y: scroll;
    z-index: 30;
    pointer-events: none;
    overflow: hidden;
    border: 1px solid var(--primary);
}

#notifica_content.notifica_content-show {
    display: flex;
    pointer-events: auto;
    /* top: 70px; */
    flex-direction: column;
}

.notifica {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 0.8em 0.8em 0.5em;
    margin-top: 5px;
    border-radius: 4px;
    background-color: var(--secondary);
    color: rgb(0 0 0);
    box-shadow: 0px 2px 5px -2px black;
    cursor: pointer;
    font-size: 20px;
}

.notifica:not(.vecchia):hover {
    background-color: rgba(6, 190, 225, 0.8);
}

.notifica:not(.vecchia):active {
    transform: translateY(1px);
}

.notifica a {
    display: inline-flex;
    justify-content: flex-end;
    text-decoration: none;
}

.notification > i {
    display: flex;
    justify-content: right;
    height: 25px;
    color: var(--error);
}

.notification > span {
    display: flex;
    min-height: 45px;
    font-size: 20px;
}

.notification > button {
    display: inline-flex;
    width: 75px;
    justify-content: center;
    align-self: flex-end;
    margin: 0;
}

#nuoveNotifiche_wrapper, #vecchieNotifiche_wrapper {
    display: none;
    width: 100%;
    /* background-color: var(--secondary-variant); */
    pointer-events: none;
    padding: 1em 0.5em;
    overflow: auto;
}

#nuoveNotifiche_wrapper.notifiche_wrapper-selected, #vecchieNotifiche_wrapper.notifiche_wrapper-selected {
    display: block;
    pointer-events: auto;
}

#notifiche_old,
#notifiche_new {
    background-color: var(--secondary) !important;
}


#notifica_btns button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin: 0;
    max-width: 50%;
    border-bottom: 3px solid rgb(0 0 0 / 0%);
    background-color: var(--info);
}

#notifiche_old.notifiche-selected, #notifiche_new.notifiche-selected {
    border-bottom: 3px solid rgb(255 255 255);
}

#notifica_btns {
    display: flex;
    /* height: 50px; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    gap: 1em;
}

.notifica_messaggio {
    text-align: left;
}

.notifica_date {
    color: rgb(84 83 83);
    font-size: 13px;
    text-align: right;
}

.notifica.vecchia {
    cursor: default;
    background-color: var(--bg);
}


.tipo {
    font-size: 14px;
    background-color: var(--secondary-variant);
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    display: inline-flex;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
}

img#logo {
    width: 75px;
}

.wrapperTitles {
    position: fixed;
    display: flex;
    width: fit-content;
    flex-direction: column;
}

section.wrapper-recensioni {
    margin-top: 2em;
}


@media only screen and (max-width: 900px) {
    body > header {
        flex-direction: row;
        height: fit-content;
        padding-bottom: 10px;
        box-shadow: none;
    }

    body > header h1 {
        font-size: 30px;
    }

    body > main {
        padding: 0;
        overflow-x: hidden;
        flex-direction: column;
        justify-content: start;
        gap: 0;
        width: 100%;
        top: -1px;
    }

    #notifica_content {
        width: 100%;
        position: fixed;
        left: 0;
        height: 100%;
        top: 0;
    }

    .campo > .content {
        padding-left: 5px;
    }

    #modal_wrapper {
        height: 100%;
        width: 100%;
    }

    .modal {
        width: 95%;
        height: 100%;
    }

    #modal_wrapper form {
        height: 100%;
        width: 100%;
        /* padding: 2em; */
    }

    section#wrapper_annunci {
        width: 100%;
        min-width: 100%;
        padding: 20px 10px;
        min-height: unset;
        height: auto;
        flex-direction: column;
    }

    .titles {
        text-align: center;
        margin-top: 15px;
        position: relative;
        width: 100%;
        margin: 0;
    }

    #wrapper_annunci .titles h2 {
        margin: 0px;
        display: block;
    }

    .annuncio {
        padding: 1em 25px 1em 25px;
        font-size: 17px;
        width: 100%;
        min-width: auto;
    }

    #btn-back {
        display: none;
    }

    #notifiche .closeBtn {
        top: 5px;
        right: 5px;
        display: inline-flex;
        visibility: unset;
        position: absolute;
    }

    .wrapperTitles{
        position:relative;
        width: 100%;
    }
}
